/* MA FEUILLE DE STYLE CSS - VOILIERS - SEMA */

/* RESET ERIC MEYER */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN RESET ERIC MEYER  */

body {
    color: rgb(0, 0, 0);
    background-color: #fff;
}

main {
    margin-top: 10px;
    margin: auto;
    width: 80%;
}

/* =================================== EN-TETE DE PAGE =================================== */

header {
    height: 150px;
    background-color: #98bdee;
}

nav {
    height: 100px;
    background-color: #bfbfdb;
}
/* MENU NAVIGUATION */

section {
    text-align: center;
    background-color: #ebcdd2;
}

/* =================================== CONTENU PRINCIPAL =================================== */

div {
    text-align: center;
}

figure { 
    display: inline-block;
    padding: 30px 5px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

figcaption {
    font: italic smaller sans-serif;
    text-align: center;
    position:relative; 
    opacity: 1;
    padding: 3px;
    bottom: 25px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    background-color: #333;
}

.galerie {
    margin-left: 25%;
}

.photo {
    float: left;
}

.clear {
    clear: both;
}

/* =================================== PIED DE PAGE =================================== */

footer {
    height: 60px;
    background-color: #98bdee;
}

p {
    margin: auto;
}